/* import */
@import url('https://fonts.googleapis.com/css?family=Poppins');
/* variables */
:root {
  --main-bg-color: #1da7da;
  --accent-color: #52d58b;
}



/* global */
a{
  text-decoration: none !important;
}
/*  spinner*/
.spinner{
  display: flex;
  justify-content: center
}

.jumbotron-fluid{
  background: linear-gradient(270deg, #E84118, #AB3B85);
  letter-spacing: 4px;
  font-family: cursive;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #efefef;
}

/* Nav Bar */
.navbar.navbar-expand-lg {
  font-size: 18px;
  padding: 20px 8px;
  background: #37474f !important
  /* background-image: linear-gradient(to right bottom, #ef6c00, #f37b06, #f88a10, #fb991b, #ffa726); */
}
.navbar.navbar-expand-lg a{
  letter-spacing: 1px;
  padding: 3px 8px;
  font-weight: bold;
  text-decoration: none !important;
  color: #efeded !important
}
.navbar.navbar-expand-lg .navbar-nav{
  margin-left: auto
}
/*  */

.navbar .navbar-nav .active{
  background: #5c5f61 !important;
  transition: all 0.5s ease-in
}


/* Landing Page */

#landingPage .hero{
  margin: 0
}

#landingPage .hero{
  min-height: 70vh !important;
  background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.644)), url("https://images.pexels.com/photos/68761/pexels-photo-68761.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;   
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%); */
}

#landingPage .left h1{
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: bold
}

#landingPage span.keylearns{
  font-weight: bolder;
  font-family: cursive;
  letter-spacing: 4px
}

#login{
  text-align: start;
  padding: 20px;
  background: #26272787
}

#login  input{
  width: 450px;
}

#login button {
  background: #dc3545;
  border-color: none !important
}

#login #create-acc-link{
  color: #ffeb00;
  padding: 0 5px;
  text-transform: uppercase
}
/*  */

/* offering */
.offering .offer{
  padding: 25px 12px;
  transition: all 0.5s
}

.offering h1{
  color: #73746b !important;
}


.offering .offer i{
  color: #37474f;
  margin-bottom: 10px;
}

.offering .offer:hover{
  transform: scale(1.1)
}

.bangla{
  background: #383d41;
  letter-spacing: 4px;
  font-family: monospace
}

/* Sign up */
#signupForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 100%;
}

#signupForm form{
  width: 450px  !important;
  margin: auto
}

#signupForm form button{
  background: #aa00ff;
  letter-spacing: 3px;
  font-weight: bolder
}


/* course feed */

#course-card{
  max-height: 150px;
  width: 1000px;
  background: #fbfbfb;
  margin: 10px;
  border-top: 1px solid #e5e5e5;
  cursor: pointer
}

.price{
  display: flex;
  justify-content: center;
  align-items: center;
}
.price p{
  font-weight: bolder;
  font-style: italic
}
.courseDesc{
  color: #847575eb;
  font-size: 15px;
}

/*  */

/* DashBoard */
.dashHeading{
  color: black;
  letter-spacing: 3px;
  font-weight: 800
}
.user-image-card{
  height: 200px;
  width: 600px;
  background: #343434;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  padding: 0;
  margin-top: 12px;
}
.user-image-card .imagebox{
  width: 33%;
  margin-right: 15px;
}
.user-image-card p {
  margin-bottom: 3px ;
}

.user-image-card .imagebox img{
  width: 100%;
  height: 100%;
}

.user-image-card .userinfo{
  align-self: center;
  color: white;
  padding: 5px;
  border-left: 6px solid #e17c00
}

#courseWrapper{
  padding: 20px 5px;
  background: #ff6b6b;
}
.enrolledWrapper{
  padding: 20px 5px;
  background: #feca57;
}
.course-card{
  position: relative;
  height: 220px !important;
  width: 365px !important;
}

.course-card img {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}

.course-card .course-info{
  position: absolute;
  text-align: center; 
  top: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.657));
  height: 100%;
  width: 100%;
  padding: 5px;
}

/*  */
