/* import */
/* @import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat'); */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
/* variables */
:root {
  --main-bg-color: #1da7da;
  --accent-color: #52d58b;
}



/* global */
a{
  text-decoration: none !important;
}
/*  spinner*/
.spinner{
  display: flex;
  justify-content: center
}

.jumbotron-fluid{
  background: linear-gradient(270deg, #E84118, #AB3B85);
  letter-spacing: 4px;
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #fff;
}

/* Nav Bar */
.navbar.navbar-expand-lg {
  font-size: 20px;
  padding: 20px 8px;
  background: #fff !important;
}
.navbar-expand-lg #brand{
  color: #dc3545bd !important;
  font-weight: 800;
  font-size: 28px;
}
.navbar.navbar-expand-lg a{
  letter-spacing: 1px;
  padding: 3px 8px;
  font-weight: bold;
  text-decoration: none !important;
  color: #474646 !important;
  margin-right: 3px;
}
.navbar.navbar-expand-lg .navbar-nav{
  margin-left: auto
}

.navbar.navbar-expand-lg a#moveUp:hover{
  transform: translateY(-5px);
  transition: all 0.5s  
}
.navbar.navbar-expand-lg a#show-danger:hover{
  background: #dc3545;
  color:#fff !important;
  transition: all 0.5s  
}

/*  */

.navbar .navbar-nav .active{
  /* border-bottom: 3px solid #e91e63 !important;
   */
   color: #e91e63 !important;
}


/* Landing Page */

#landingPage .hero{
  margin: 0
}

#landingPage .hero{
  min-height: 73vh !important;
  background: linear-gradient(to right,#510a32ad, #510a32cc),url("./BG/avi-richards-183715-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;   
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 71%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 71%, 0 100%); */
}

#landingPage .left h1{
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: left
}

#landingPage .hero-text{
  width: 600px;
  margin-left: 55px;
  font-size: 15px;
}
#landingPage .hero-text button{
  background: #dc3545bd;
  color:#fff;
  border-color: none;
}
#landingPage .hero-text #join-btn{
  margin-left: 20px;
  border: 1px solid #ffc107;
  color:#fff;
  background: transparent;
  letter-spacing: 3px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
#landingPage .hero-text #join-btn:hover{
  background: #ffc107;
  font-weight: bold
}
#landingPage .hero-text #join-btn:active{
  border: #ffc107
}

#landingPage .hero-text h1{
  font-size: 3.2em;
}
#landingPage .hero-text p{
  margin-top: 12px;
  font-size: 1.6em;
  text-align: left;
  word-break: break-all
}
#landingPage .hero-text p span{
  color: #ffc107;
  font-size: 36px !important;
  font-weight: 900
}

#landingPage span.keylearns{
  font-weight: bolder;
  font-family: cursive;
  letter-spacing: 4px
}

#login{
  text-align: start;
  padding: 20px;
  /* background: #26272787; */
  background: #26272787;
  width: 445px;
  font-family: "Nunito Sans"
}

#login  input{
  width: 100% !important;
  height: 50px;
}

#login button {
  background: #dc3545bd;;
  border-color: none !important
}

#login #create-acc-link{
  color: #ffc107;
  padding: 0 5px;
  text-transform: uppercase
}
/*  */

/* offering */
.offering-bangla{
  padding: 28px;
  background: #dc3545bd;
  color: #fff !important
}

.offering{
  font-family: monospace;
  background-color: #ffffff;
background-image: url("./BG/offering.svg");
background-attachment: fixed;
}

.offering .row h3{
    padding: 20px;
    text-align: center;
    color: #847a7a;
}
.offering .row .card{
  background: whitesmoke;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.offering .row .card:hover{
  -webkit-box-shadow: 11px 11px 25px 8px rgba(196,196,196,1);
  -moz-box-shadow: 11px 11px 25px 8px rgba(196,196,196,1);
  box-shadow: 11px 11px 25px 8px rgba(196,196,196,1);
}

.offering .row .card i {
  color:#dc3545bd
}

.offering h1{
  color: #73746b !important;
  position: relative;
  font-size: 29px;
  font-weight: bolder
}

span.slash{
    color: #ffc107;
    font-size: 40px;
    margin: 0 30px 0 30px;
}

.bangla{
  background: #383d41;
  letter-spacing: 4px;
  font-family: 'Nunito Sans', sans-serif;
}

/* Sign up */
#signupForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 100%;
}

#signupForm form{
  width: 450px  !important;
  margin: auto
}

#signupForm form button{
  background: #aa00ff;
  letter-spacing: 3px;
  font-weight: bolder
}


/* course feed  suggestion*/
#suggestion{
  background: #f7f7f7 !important;
}

#course-card{
  /* max-height: 150px; */
  width: 1000px;
  background: #fbfbfb;
  margin: 10px;
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
}

#course-card h5{
  font-weight: bold
}

.price{
  display: flex;
  justify-content: center;
  align-items: center;
}
.price p{
  font-weight: bolder;
  font-style: italic
}
.course-info{
padding-left: 10px;
}
.courseDesc{
  color: #747070eb;
  font-size: 15px;
}

/*  */

/* DashBoard */
.dashHeading{
  color: black;
  letter-spacing: 3px;
  font-weight: 800
}
.user-image-card{
  height: 200px;
  width: 600px;
  background: #343434;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  padding: 0;
  margin-top: 12px;
}
.user-image-card .imagebox{
  width: 33%;
  margin-right: 15px;
}
.user-image-card p {
  margin-bottom: 3px ;
}

.user-image-card .imagebox img{
  width: 100%;
  height: 100%;
}

.user-image-card .userinfo{
  align-self: center;
  color: white;
  padding: 5px;
  border-left: 6px solid #e17c00
}

#courseWrapper{
  padding: 20px 5px;
  background: #ff6b6b;
}
.enrolledWrapper{
  padding: 20px 5px;
  background: #feca57;
}
.course-card{
  position: relative;
  height: 220px !important;
  width: 365px !important;
}

.course-card img {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}

.course-card .course-info{
  position: absolute;
  text-align: center; 
  top: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.657));
  height: 100%;
  width: 100%;
  padding: 5px;
}

/*  */

/* course Detail */
.courseDetail #course-header{
  padding: 20px 20px 20px 15%;
}
.courseDetail #course-header-container{
  background: #29303b;
  color: #fff
}

#course-header h3{
  font-weight: bold;
  margin: 12px 0px;
  font-size: 1.9em
}
#course-header p{
  line-height: 1.8em;
  letter-spacing: 1px;
}
#course-header .btn{
  border-color: none;
  background: #ff5722;
  /* #a62fbb */
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px;
  letter-spacing: 2px;
}
/* rating bar */
.checked {
  color: orange;
}

.courseDetail #scrollable{
  height: 700px !important;
  overflow-y: scroll !important;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

#scrollable::-webkit-scrollbar { 
  display: none; 
}

.suggested-courses .card{
  width: 259px;
  margin: 8px 20px;
}

.suggestion h3{
  font-weight: bold;
  padding-top: 20px;
  text-align: center
}

/*  */
/* Add course Form */
.ReactTags__tagInputField{ width: 278px;
  height: 42px; 
  padding: 8px;
  border-radius: 5px; 
  font-size: 20px;
   -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px;
   border: 1px solid #ced4da;
}
.tag-wrapper.ReactTags__tag{
  color: #000 !important;
  display: inline-block;
  margin: 5px;
  font-size: 20px;
}
.form-control{
  font-size: 20px;
}
